<table border="3">
  <tr><td>id</td><td>{{ department.id }}</td></tr>
  <tr><td>mat</td><td>{{ department.mat }}</td></tr>
  <tr><td>home</td><td>{{ department.home }}</td></tr>
  <tr><td>faculte_id</td><td>{{ department.faculte ? department.faculte.id : '' }}</td></tr>
</table>
